* {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 100;
    color: #434343;
    backface-visibility: hidden;
}

::-moz-selection {
    color: #e7e7e7;
    background: #606060;
}

::selection {
    color: #e7e7e7;
    background: #606060;
}

a:hover {
    text-decoration: none;
}

.nav-icon {
    width: 60px;
    height: 45px;
    position: fixed;
    right: -200px;
    margin: -10px auto;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: 10;
}

.menu {
    font-size: 30px;
    color: black;
    position: relative;
    z-index: 10;
    right: 100px;
    top: 25px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 0;
    text-decoration: none !important;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #303030;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0px;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
    top: 18px;
}

.nav-icon span:nth-child(4) {
    top: 36px;
}

.nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


.move-burger {
    right: 20px;
}

.navigation {
    width: 300px;
    position: fixed;
    top: 80px;
    right: -400px;
    z-index: 10;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.nav-item {
    color: #eeeeee;
    padding: 20px;
    list-style: none;
    background-color: #303030;
    transition: .4s;
    border-bottom: 2px solid #606060;
    box-shadow: 10px 10px 30px #232323;
    border-left: 4px solid #606060;

}

.nav-item:hover {
    background-color: #606060;
    color: white;
    border-left: 4px solid #7e01a3;
}

.show-nav {
    right:0;
}

.add-margin {
    margin-bottom: 15px;
}

/*header-intro*/

#header {
    width: 100vw;
    height: 100vh;
}

#paint {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 25s;
    position: absolute;
    bottom: 50px;
    filter: grayscale(.1);
    -webkit-filter: grayscale(.1);
}

.black-cover {
    width: 100vw;
    position: absolute;
    top: -50px;
    height: 100px;
    background-color: #606060;
    display: none;
    transition: 3s;
}


#logo-cover {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/large_103165.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
}

.move-clouds {
    transform: translateY(-3000px);
}

.move-paint {
    transform: translateY(50px);
}

.show-black {
    display: block;
}

.name {
    text-align: center;
    font-size: 10vw;                /*wielkosc napisu UnIque Fashion*/
    opacity: 0;
    transition: 1s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*podpis*/

.container {
    width: 10vw;
    text-align: center;
    position: absolute;
    top: 60%;
}

.ml5 {
    position: center;
    font-weight: 300;
    font-size: 3.2vw;
    color: #402d2d;
    opacity: 0;
}

.ml5 .text-wrapper {
    position: relative;
    padding-left: 8.5em;
    top: -120px;
    display: inline-block;
    line-height: 1em;
}

hr {
    width: 200%;
    color: #402d2d;
}

slider {
    display: block;
    width: 31em;
    height: 31em;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 31em;
    height: 31em;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../img/obraz8.jpg);
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../img/obraz7.jpg);
    background-position: center;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../img/obraz2.jpg);
    background-position: center;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(../img/obraz1.jpg);
    background-position: center;
}

@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
}﻿


#scroll-down {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #303030;
    position: absolute;
    bottom: -30px;
    margin: auto;
    left: 0;
    right: 0;
    transition: .3s;
    cursor: pointer;
}

#scroll-down:hover {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid #606060;
}

/*break*/

/*.break-cover {
    width: 100vw;
    height: 300px;
    background: linear-gradient(rgba(1,1,1,.03), rgba(1,1,1,.07)), linear-gradient(45deg, #fff, rgba(0,0,0,0));
}*/

.break {
    width: 100vw;
    height: 300px;
    background-image: url(../img/fly-and-spin-through-heavenly-like-clouds-white-clouds-with-grey-blue-tint_bkxwwvwfsg_thumbnail-full01.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*about me*/

.sections {
    width: 100vw;
    background-color: #f7f7f7;
}

#about-us {
    height: 100vh;
}

#our-offer {
    height: 140vh;
}

.header-name {
    text-align: center;
    font-size: 4vw;
    margin: 0;
    padding: 40px;
    opacity: 0;
    transition: 1s;
}

.header-name.underline {
    color: #fff;
}

.header-name:before,
.header-name.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-name.underline:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.text-about-us {
    opacity: 0;
    position: relative;
    top: 50px;
    transition: 1s;
    margin-top: 30px;
}

.text-section {
    width: 50%;
    font-size: 1.5vw;
    text-align: justify;
    margin: auto;
}

.table-section {
    font-size: 1.5vw;
    text-align: center;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

table {
    margin: 0 auto;
}

#about-us>a {
    text-decoration: none;
}

.reverse {
    background-image: url(../img/fly-and-spin-through-heavenly-like-clouds-white-clouds-with-grey-blue-tint_bkxwwvwfsg_thumbnail-full01.png);
}

/*slider*/


/*contact*/

#contact {
    background-image: url(../img/11d.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#contact-cover {
    width: 100vw;
    height: 100vh;
    background: rgba(1,1,1,.7);
    background: -webkit-linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.9), rgba(1,1,1,.9), rgba(1,1,1,1));
    background: -o-linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.9), rgba(1,1,1,.9), rgba(1,1,1,1)); ;
    background: -moz-linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.9), rgba(1,1,1,.9), rgba(1,1,1,1)); ;
    background: linear-gradient(rgba(1,1,1,.3), rgba(1,1,1,.9), rgba(1,1,1,.9), rgba(1,1,1,1)); ;
}

.header4 {
    color: #fff;
}

/*animations*/

.show-text {
    opacity: 1;
    top: 0;
}

.show-icons {
    opacity: 1;
    top: 0;
    animation: hue-rotation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /*
        animation: grayscale;

    */
}

.show-letters {
    opacity: 1;
}

.arrow-animation {
    animation: arrow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*Contact*/

.form {
    text-align: center;
}

.form-container {
    width: 80%;
    margin: auto;
}

.input1 {
    width: 80%;
    color: black;
    margin-top: 3px;
    position: relative;
    right: 100px;
    transition: 2s;
    opacity: 0;
}

.input2 {
    width: 80%;
    height: 125px;
    color: black;
    position: relative;
    left: 100px;
    transition: 2s;
    opacity: 0;

}

.show-input1 {
    right: 0;
    opacity: 1;
}

.show-input2 {
    left: 0;
    opacity: 1;
}

#buttonplace {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

#buttonplace>.btn {
    color: white;
    background-color: darkgrey;
    transition: .5s;
    float: right;
}

#buttonplace>.btn:hover {
    color: black;
    background-color: aliceblue;
    text-decoration: none;
}

.holder {
    margin: none;
}

.form-container>p {
    font-size: 20px;
    text-align: right;
    padding-right: 5vw;
    color: white;
}


@keyframes arrow {
    0%   {bottom: -30px;}
    30%  {bottom: 10px;}
    55%  {bottom: 0px;}
    70%  {bottom: 5px;}
    85%  {bottom: 0px;}
    100%  {bottom: 0px;}
}

@keyframes hue-rotation {
    0% {    -webkit-filter: hue-rotate(60deg); /* Safari */
        filter: hue-rotate(60deg);}
    100% {   -webkit-filter: hue-rotate(0deg); /* Safari */
        filter: hue-rotate(0deg);}
}